@page "/eventcallback"

<h3>EventCallback</h3>

<EditDeleteButton IsAdmin="true" OnDeleteClicked="DeleteClicked" OnEditClicked="EditClicked"></EditDeleteButton>

<p>
    @Message
</p>
@code {
    public string Message { get; set; }

    private void DeleteClicked()
    {
        this.Message = "Delete clicked!";
    }

    private void EditClicked()
    {
        this.Message = "Edit clicked!";
    }
}
