@page "/"
@using SoftvisonBlazorMasters.Client.Models
@inject NavigationManager NavigationManager

<h1>Blazor Masters</h1>
<h2>Assigments</h2>

<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Date Submitted</th>
        <th>Link</th>
    </tr>

    @foreach (var assigment in assignments)
    {
        <tr>
            <td>@assigment.Id</td>
            <td>@assigment.Name</td>
            <td>@assigment.DateSubmitted.ToShortDateString()</td>
            <td>
                <button onclick="@(() => NavigationManager.NavigateTo(assigment.Route))">Navigate</button>
            </td>
        </tr>
    }

</table>

@code {
    private List<Assignment> assignments = new List<Assignment>()
    {
        new Assignment() {
            Id = 1,
            Name = "Data Binding and Routing",
            DateSubmitted = new DateTime(2022,5,24),
            Route = "data-binding-and-routing"
        },
        new Assignment() {
            Id = 2,
            Name = "Component Communication",
            DateSubmitted = new DateTime(2022,6,1),
            Route = "component-communication"
        }
    };
}

