<div class="card mb-2">
    <div class="card-body">
        <Input type="checkbox" @onchange="SelectionChanged"></Input>
        @Name
    </div>
</div>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public EventCallback<bool> OnSelectionChanged { get; set; }

    private async Task SelectionChanged(ChangeEventArgs e)
    {
        await OnSelectionChanged.InvokeAsync((bool)e.Value!);
    }
}